@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "claudette";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: hsl(48, 33%, 97%);
  --color-base-200: hsl(51, 26%, 95%);
  --color-base-300: hsl(44, 28%, 92%);
  --color-base-content: hsl(72, 4%, 26%);
  --color-primary: oklch(44% 0.177 26.899);
  --color-primary-content: oklch(93% 0.032 17.717);
  --color-secondary: oklch(68% 0.162 75.834);
  --color-secondary-content: oklch(98% 0.026 102.212);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(51% 0.262 276.966);
  --color-info-content: oklch(96% 0.018 272.314);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.28125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "claudia";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: hsl(60, 2%, 18%);
  --color-base-200: hsl(60, 3%, 15%);
  --color-base-300: hsl(30, 7%, 12%);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: hsl(14, 58%, 53%);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(76% 0.188 70.08);
  --color-secondary-content: oklch(27% 0.077 45.635);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(86% 0.022 252.894);
  --color-info: oklch(51% 0.262 276.966);
  --color-info-content: oklch(96% 0.018 272.314);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.28125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
