@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}


  @theme {
  --text-xs: 0.9rem;
  --text-sm: 0.975rem;
  --text-md: 1.2rem;
  --text-lg: 1.5rem;
}


/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Text selection styling */
/* ::selection {
  background: #000000;
  color: #ffffff;
}

.bg-black *::selection,
.bg-gray-900 *::selection {
  background: #ffffff;
  color: #000000;
} */

.font-sigmar {
  font-family: "Sigmar One", sans-serif;
  line-height: 1;
}

.font-barrio {
  font-family: "Barrio", sans-serif;
}
.font-funnel {
  font-family: "Funnel Display", sans-serif;
}

.brand-gradient {
  background: linear-gradient(115deg, 
   var(--color-primary) 0%,
    var(--color-primary) 16.67%,
    var(--color-neutral) 36.67%,
    var(--color-error) 50%,
    var(--color-secondary) 67.67%,
    var(--color-success) 100%
  );
}

.brand-gradient-text {
  background: linear-gradient(115deg, 
    var(--color-primary) 0%,
    var(--color-primary) 16.67%,
    var(--color-neutral) 36.67%,
    var(--color-error) 50%,
    var(--color-secondary) 67.67%,
    var(--color-success) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.box-gray {
  @apply bg-base-300 rounded-xl p-3 border-[0.5px] border-base-300/60 text-base-content;
}